<template>
  <v-card>
    <v-card-title>
      Question 2
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
        outlined
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="data"
      :search="search"
      :items-per-page="50"
      hide-default-footer
    ></v-data-table>
  </v-card>
</template>

<script>
export default {
  name: "Category",
  data() {
    return {
      data: [],
      headers: [
        {
          text: "No.",
          align: "start",
          sortable: false,
          value: "index",
        },
        {
          text: "Text",
          align: "start",
          sortable: false,
          value: "text",
        },
      ],
      search: "",
    };
  },
  mounted() {
    const api = "https://api.publicapis.org/categories";
    this.axios.get(api).then((response) => {
      console.log("response.data => ", response.data);
      let data = response.data;
      this.data = data.map((o, i) => {
        return {
          index: i + 1,
          text: o,
        };
      });
      console.log(`data => `, this.data);
    });
  },
};
</script>