<template>
  <v-container fluid>
    <v-row class="main-row">
      <div class="first">
        <v-text-field
          type="number"
          v-model="input"
          placeholder="number input"
          outlined
          dense
          @change="onCheckSelected"
          style="width: 150px"
        ></v-text-field>
      </div>
      <div class="middle">
        <v-select
          style="width: 150px"
          :items="items"
          outlined
          dense
          v-model="selected"
          @change="onCheckSelected"
        />
      </div>
      <div class="last">
        <p>{{ boolCheck }}</p>
      </div>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  data() {
    return {
      items: ["isPrime", "IsFibanacci"],
      boolCheck: false,
      selected: "isPrime",
      input: 0,
    };
  },
  computed: {},
  methods: {
    onCheckSelected(input) {
      console.log(input);
      switch (this.selected) {
        case "isPrime":
          this.calculatePrime();
          break;
        case "IsFibanacci":
          this.calculateFibanacci();
          break;
      }
    },
    calculatePrime() {
      const number = Math.abs(this.input);
      console.log(number);
      this.input = number;
      let isPrime = true;
      if (number === 1) {
        isPrime = false;
        this.boolCheck = isPrime;
      }
      if (number > 1) {
        for (let i = 2; i < number; i++) {
          if (number % i == 0) {
            isPrime = false;
            break;
          }
        }
        this.boolCheck = isPrime;
      }
    },
    async calculateFibanacci() {
      const num = this.input;
      this.boolCheck =
        this.isPerfectSquare(5 * num * num + 4) ||
        this.isPerfectSquare(5 * num * num - 4);
      console.log(`this.boolCheck => `, this.boolCheck);
    },
    isPerfectSquare(value) {
      let fibanacci = Math.sqrt(value);
      let check = fibanacci * fibanacci === value;
      console.log(`check => `, check);
      return check;
    },
  },
};
</script>

<style scoped>
.home {
  padding: 10;
  margin: 10;
}
.main-row {
  height: 100vh;
  border-width: 2px;
  border-color: red;
}
.first {
  width: 300px;
}
.middle {
  flex: 1;
  border-color: black;
  border-left: 1px;
  height: 100%;
  min-width: 100px;
}
.last {
  width: 200px;
}
</style>
